.App {
    /*text-align: center;*/
    display: flex;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App > div {
    max-height: 100vh;
    overflow: auto;
}

.sidebar-wrapper {
    display: flex;
    flex: 0 0 30%;
    padding-right: 5px;
}

.sidebar-wrapper > div {
    flex: 1 100%;
    height: 100%;
    overflow: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24)
}

.stars-detail-wrapper {
    flex: 1;
    max-height: 100vh;
}
