.star-detail-wrapper {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
}

.star-detail {
    margin-right: 12px;
}

.star-detail input {
    width: 90px;
}

.legendItem.deselected {
    opacity: 0.5;
    text-decoration: line-through;
}
